*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/projectFilesBackup
app/release/

app/debug/

admin/release/

app/demo/admin-demo\.apk

app/demo/app-demo\.apk

app/demo/output\.json

app/demo/

*.apk

admin/demo/output\.json

admin/debug/output\.json
